<div (contextmenu)="disableClickMenu($event)">
  <!-- Inicio. Encabezado tablero -->
  <div class="tablero-header">
    <div class="contadores">
      <div class="contador">
        <i class="fa-solid fa-bomb"></i
        ><span> {{ tablero.cantidadMinas }}</span>
      </div>
      <div class="contador">
        <i class="fa-solid fa-flag"></i
        ><span> {{ tablero.obtenerBanderasRestantes() }}</span>
      </div>
    </div>

    <div class="botonera">
      <div class="boton-emote" (click)="reiniciar()" [ngClass]="obtenerEstadoPartida()">
        <i class="fa-solid" [ngClass]="obtenerEmote()"></i>
      </div>
    </div>

    <div class="opciones">
      <div class="boton-simple" (click)="toggleMuted()">
        <i
          class="fa-solid"
          [ngClass]="audioMuted ? 'fa-volume-xmark' : 'fa-volume-high'"
        ></i>
      </div>

      <div class="boton-simple" (click)="abrirConfiguracion()">
        <i class="fa-solid fa-gear"></i>
      </div>
    </div>
  </div>
  <!-- Fin. Encabezado tablero -->

  <!-- Inicio. Tablero -->
  <div class="contenedor" [attr.dificultad]="nivelSeleccionado">
    <div class="row" *ngFor="let fila of tablero.matriz">
      <div
        class="col"
        *ngFor="let celda of fila"
        [ngClass]="obtenerClaseCelda(celda)"
        (click)="revelarCelda(celda)"
        (contextmenu)="marcarCelda(celda)"
      >
        <div *ngIf="celda.estado !== EstadoCelda.Oculta">
          <div [ngSwitch]="celda.estado" *ngIf="!celda.esMina">
            <span *ngSwitchCase="EstadoCelda.Marcada">
              <i class="fa-solid fa-flag"></i>
            </span>
            <span
              *ngSwitchDefault
              class="minas-adyacentes"
              [attr.cantidad]="celda.minasAdyacentes"
            >
              {{ celda.minasAdyacentes > 0 ? celda.minasAdyacentes : "" }}
            </span>
          </div>

          <div [ngSwitch]="celda.estado" *ngIf="celda.esMina">
            <span *ngSwitchCase="EstadoCelda.Marcada">
              <i class="fa-solid fa-flag"></i>
            </span>
            <span *ngSwitchCase="EstadoCelda.Desactivada">
              <i class="fa-solid fa-flag"></i>
            </span>
            <span *ngSwitchCase="EstadoCelda.MarcadaReventada">
              <i class="fa-solid fa-flag"></i>
            </span>
            <span *ngSwitchCase="EstadoCelda.Reventada">
              <i class="fa-solid fa-burst"></i>
            </span>
            <span *ngSwitchDefault>
              <i class="fa-solid fa-bomb"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin. Tablero -->
</div>
