.full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.tablero-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  .contadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 34%;
    padding-left: 1vw;
    gap: 10px;

    .contador {
      font-weight: bold;
      display: flex;
      align-items: center;
      font-size: large;

      i {
        margin-right: 3px;
      }
    }
  }

  .botonera {
    padding-right: 16%;
    padding-left: 16%;

    .boton-emote {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      color: #fdc43f;
      font-size: xx-large;
    }

    .boton-emote:hover {
      cursor: pointer;
      animation: pulse-yellow 2s infinite;
    }
    
    .partida-ganada {
      color: #76c893;
      animation: pulse-green 2s infinite;
    }
    
    .partida-ganada:hover {
      animation: pulse-green 2s infinite;
    }

    .partida-perdida {
      color: #f25c54;
      animation: pulse-red 2s infinite;
    }

    .partida-perdida:hover {
      animation: pulse-red 2s infinite;
    }

    
  }

  .opciones {
    width: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1vw;

    .boton-simple {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #38393b;
      font-size: large;
    }

    .boton-simple:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 992px) {
  .tablero-header {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;

    .contadores {
      gap: 20px;
      .contador {
        font-size: xx-large;
      }
    }

    .botonera {
      .boton-emote {
        font-size: xxx-large;
      }
    }

    .opciones {
      gap: 20px;
      .boton-simple {
        font-size: xx-large;
      }
    }
  }
}

.celda-mina {
  background-color: #f25c54b6;
  animation: pop 0.3s linear 1;

  span {
    color: #2e2f31d5;
  }
}

.celda-mina-marcada {
  background-color: #dcdcdc;
  animation: pop 0.3s linear 1;

  span {
    color: #f25c54b6;
  }
}

.celda-mina-desactivada {
  background-color: #dcdcdc;
  animation: pop 0.3s linear 1;

  span {
    color: #76c893;
  }
}

.celda-reventada {
  background-color: #f25c54;
  animation: pulse 1s ease-in infinite;

  span {
    color: #2e2f31;
  }
}

.celda-normal {
  background-color: #dcdcdc;
}

.celda-normal:hover {
  background-color: #d3d3d3;
  transform: scale(1.1);
}

.celda-visible {
  background-color: #ffd99b;
  animation: pop 0.3s linear 1;
}

.contenedor {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .col {
    font-weight: bold;

    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: background-color 0.5s;
  }

  .col:hover {
    cursor: pointer;
  }
}

.contenedor[dificultad="0"] {
  .col {
    margin: 0.5vw;
    border-radius: 0.5vw;

    max-width: 70px;
    max-height: 70px;

    width: 9vw;
    height: 9vw;

    font-size: small;
  }

  @media screen and (min-width: 992px) {
    .col {
      margin: 0.2vw;
      font-size: xx-large;
    }
  }
}

.contenedor[dificultad="1"] {
  .col {
    margin: 0.5vw;
    border-radius: 0.5vw;

    max-width: 50px;
    max-height: 50px;

    width: 5vw;
    height: 5vw;

    font-size: xx-small;
  }

  @media screen and (min-width: 992px) {
    .col {
      border-radius: 0.4vw;
      margin: 0.15vw;

      font-size: x-large;
    }
  }
}

.contenedor[dificultad="2"] {
  .col {
    font-size: 4px;

    margin: 0.4vw;
    border-radius: 0.3vw;

    min-width: 9px;
    min-height: 9px;

    width: 2vw;
    height: 2vw;
  }

  @media screen and (min-width: 992px) {
    .col {
      border-radius: 0.3vw;
      margin: 0.15vw;

      font-size: larger;
    }
  }
}

.minas-adyacentes[cantidad] {
  color: black;
}
.minas-adyacentes[cantidad="1"] {
  color: #0f80aa;
}
.minas-adyacentes[cantidad="2"] {
  color: #538d22;
}
.minas-adyacentes[cantidad="3"] {
  color: #ff5a5f;
}
.minas-adyacentes[cantidad="4"] {
  color: #1d4e89;
}
.minas-adyacentes[cantidad="5"] {
  color: #ad2e24;
}
.minas-adyacentes[cantidad="6"] {
  color: #339989;
}
.minas-adyacentes[cantidad="7"] {
  color: #46494c;
}
.minas-adyacentes[cantidad="8"] {
  color: #7d7d88;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 177, 66, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 177, 66, 0);
  }
}

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(118, 200, 147, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(118, 200, 147, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(118, 200, 147, 0);
  }
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(242, 92, 84, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(242, 92, 84, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(242, 92, 84, 0);
  }
}
