/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  background-color: #f8f8f8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
